body {
    background-color:  rgb(26, 24, 24);
    margin: 0%;
}
.zagolovok {
    font-size: 50px;
    font-family: Montserrat;
    color: rgb(71, 151, 216);
    display: flex;
    padding-top: 10px;
}
.text {
    font-size: 35px;
    font-family: Montserrat;
    color: rgb(173, 173, 173);
    display: flex;
}
.sylka {
    font-size: 35px;
    text-align: justify;
    font-family: Montserrat;
    display: flex;
    color: rgb(173, 173, 173);
    margin-top: 10px;
    filter: brightness(100%);
}
.sylka:hover {
    filter: brightness(200%);
    transition: 1s; 
}
a {
    text-decoration: underline;
    text-decoration-color: rgb(71, 151, 216);
}
.content {
    max-width: 1400px;
    margin: 0px auto;
    padding: 0px 15px;
    position: relative;
}
footer {
    background-color: black;
    padding-top: 8px;
    padding-bottom: 8px;
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.fot {
    text-align: center;
    margin: 4px auto;
    color: rgb(190, 190, 190);
    text-decoration: none;
    font-family: Montserrat;
    font-size: 20px;
}
@media only screen and (max-width: 1400px ) {
    .content {
        max-width: 1200px;
    }
}
@media only screen and (max-width: 1280px ) {
    .content {
        max-width: 900px;
    }
}
@media only screen and (max-width: 992px ) {
    .content {
        max-width: 750px;
    }
    .zagolovok {
        font-size: 40px;
    }
    .text {
        font-size: 25px;
    }
    .sylka {
        font-size: 25px;
    }
}
@media only screen and (max-width: 767px ) {
    .content {
        max-width: none;
        padding: 0% 5%;
        margin: 0%;
    }
    .zagolovok {
        font-size: 34px;
    }
    .text {
        font-size: 22px;
    }
    .fot {
        font-size: 15px;
    }
    .sylka {
        font-size: 22px;
    }
}
@media only screen and (max-width: 320px ) {
    .content {
        max-width: none;
        padding: 0% 5%;
        margin: 0%;
    }
    .zagolovok {
        font-size: 22px;
    }
    .text {
        font-size: 18px;
    }
    .fot {
        font-size: 15px;
    }
    .sylka {
        font-size: 16px;
    }
}